<div class="row justify-content-center mt-3" >
  <div class="col col-md-4">
    <h2><%= t('.signup') %></h2>
    <div class="card border-primary">
      <div class="card-body">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="form-group">
            
          <p>
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
          </p>

          <p>
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length)%></em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", id: "password", class: "password_field form-control" %>
          </p>

          <p>
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", id: "confirm_password", class: "password_field form-control" %>
   
          </p>

          <div class="actions">
            <%= f.submit 'Signup', class: 'btn btn-primary mt-3' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
      
<%= render "devise/shared/links" %>

</div>